:root{
    --color-purple: #332687;
}

.title-size {
    font-size: 1.5rem;
}

.container .navbar-toggler{
    box-shadow: none;
    border-width: 2px;
    border-color: var(--color-purple);
}

.bi-text-indent-right{
    font-size: 1.5rem;
    color: var(--color-purple);
}